<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<h2>Course Enrolled:</h2>
<ol>
	<% @student.courses.each do |course|%>
		<li><%= link_to course.name, course%></li>
		<h4>Instructor:<%=link_to course.instructor.name, course.instructor%></h4>
	<%end%>
</ol>



<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
