<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

Instructor:<%= @course.instructor.name%>
<h3>Students Enrolled:</h3>
<ol>
	<% @course.students.each do |student|%>
		<li><%=link_to student.name, student%></li>
	<%end%>
</ol>
1*<%= @course.ratings.rating%>


<%= form_for @rating do |f|%>
	<%= f.label :rating%>
	<%= f.radio_button :rating, "1"%> 1
	<%= f.radio_button :rating, "2"%> 2
	<%= f.radio_button :rating, "3"%> 3
	<%= f.radio_button :rating, "4"%> 4
	<%= f.radio_button :rating, "5"%> 5 <br>
	<%= f.submit "submit"%>

	<%= f.hidden_field :course_id, value:@course.id%>
<%end%>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
